*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.class
Android/out
*.apk

.idea
build
.gradle

app/.idea
app/.gradle
app/build

Android/*.iml

local.properties

*.iml
*.log